In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# Set directory and file names
data_dir = r'/Users/yasuyukiakita/Data'
results_dir = r'/Users/yasuyukiakita/Projects/python_gis_py312/results'
landfire_dir = os.path.join(data_dir, 'landfire')
lf_2023_fccs_csv = os.path.join(landfire_dir, 'LF2023_FCCS_240_CONUS', 
                                'CSV_Data', 'LF23_FCCS_240.csv')

In [3]:
lf_csv_df = pd.read_csv(lf_2023_fccs_csv)

In [4]:
lf_csv_df.dtypes

VALUE         int64
FCCS          int64
FCCSID       object
FCCS_REG     object
FUELBED      object
R             int64
G             int64
B             int64
RED         float64
GREEN       float64
BLUE        float64
dtype: object

In [5]:
lf_csv_df.head()

,VALUE,FCCS,FCCSID,FCCS_REG,FUELBED,R,G,B,RED,GREEN,BLUE
0,-1111,-1111,Fill-Not Mapped,All,Fill-Not Mapped,111,111,111,0.435294,0.435294,0.435294
1,-9999,-9999,Fill-NoData,All,Fill-NoData,255,255,255,1.000000,1.000000,1.000000
2,0,0,0,All,Bare Ground,191,191,191,0.749020,0.749020,0.749020
3,1,1,1,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804
4,2,2,2,Pacific Northwest,Western hemlock-western redcedar-Douglas-fir f...,0,82,0,0.000000,0.321569,0.000000

In [6]:
lf_csv_base_df = lf_csv_df.loc[lf_csv_df['FCCSID'].str.isdigit()].reset_index(drop=True)

In [7]:
lf_csv_base_df

,VALUE,FCCS,FCCSID,FCCS_REG,FUELBED,R,G,B,RED,GREEN,BLUE
0,0,0,0,All,Bare Ground,191,191,191,0.749020,0.749020,0.749020
1,1,1,1,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804
2,2,2,2,Pacific Northwest,Western hemlock-western redcedar-Douglas-fir f...,0,82,0,0.000000,0.321569,0.000000
3,3,3,3,Pacific Northwest,Douglas-fir forest,0,51,0,0.000000,0.200000,0.000000
4,4,4,4,Pacific Northwest,Douglas-fir/ceanothus forest,0,51,0,0.000000,0.200000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
419,1261,1261,1261,All,Fallow field - growing season,255,198,107,1.000000,0.776471,0.419608
420,1273,1273,1273,All,Tree fruit field - no inter-row groundcover,210,28,119,0.823529,0.109804,0.466667
421,1274,1274,1274,All,Tree fruit field - with inter-row groundcover,210,28,119,0.823529,0.109804,0.466667
422,1281,1281,1281,All,"Pasture, hay, or alfalfa field - grazed or har...",255,59,20,1.000000,0.231373,0.078431
423,1283,1283,1283,All,"Pasture, hay, or alfalfa field - ungrazed or u...",255,59,20,1.000000,0.231373,0.078431

In [8]:
lf_csv_extended_df = lf_csv_df.loc[~lf_csv_df['FCCSID'].str.isdigit()].reset_index(drop=True)

In [9]:
lf_csv_nodata_df = lf_csv_extended_df.loc[lf_csv_extended_df['VALUE']<0].reset_index(drop=True)

In [10]:
lf_csv_nodata_df

,VALUE,FCCS,FCCSID,FCCS_REG,FUELBED,R,G,B,RED,GREEN,BLUE
0,-1111,-1111,Fill-Not Mapped,All,Fill-Not Mapped,111,111,111,0.435294,0.435294,0.435294
1,-9999,-9999,Fill-NoData,All,Fill-NoData,255,255,255,1.000000,1.000000,1.000000

In [11]:
lf_csv_extended_df = lf_csv_extended_df.loc[lf_csv_extended_df['VALUE']>=0].reset_index(drop=True)

In [12]:
lf_csv_extended_df

,VALUE,FCCS,FCCSID,FCCS_REG,FUELBED,R,G,B,RED,GREEN,BLUE
0,10111,10111,0001-111,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804
1,10112,10112,0001-112,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804
2,10113,10113,0001-113,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804
3,10121,10121,0001-121,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804
4,10122,10122,0001-122,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804
...,...,...,...,...,...,...,...,...,...,...,...
15007,12990122,12990122,1299-122,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667
15008,12990123,12990123,1299-123,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667
15009,12990131,12990131,1299-131,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667
15010,12990132,12990132,1299-132,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667
15011,12990133,12990133,1299-133,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667

In [13]:
lf_csv_extended_df['FCCSID_base'] = lf_csv_extended_df['FCCSID'].str.split('-', n=1).str[0].astype('int')

In [14]:
lf_csv_extended_df

,VALUE,FCCS,FCCSID,FCCS_REG,FUELBED,R,G,B,RED,GREEN,BLUE,FCCSID_base
0,10111,10111,0001-111,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804,1
1,10112,10112,0001-112,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804,1
2,10113,10113,0001-113,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804,1
3,10121,10121,0001-121,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804,1
4,10122,10122,0001-122,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804,1
...,...,...,...,...,...,...,...,...,...,...,...,...
15007,12990122,12990122,1299-122,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667,1299
15008,12990123,12990123,1299-123,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667,1299
15009,12990131,12990131,1299-131,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667,1299
15010,12990132,12990132,1299-132,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667,1299
15011,12990133,12990133,1299-133,All,Corn and soybean (double crop) field,250,255,119,0.980392,1.000000,0.466667,1299

In [15]:
lf_csv_base_df['FCCSID_base'] = lf_csv_base_df['FCCSID'].astype('int')

In [16]:
lf_csv_base_df

,VALUE,FCCS,FCCSID,FCCS_REG,FUELBED,R,G,B,RED,GREEN,BLUE,FCCSID_base
0,0,0,0,All,Bare Ground,191,191,191,0.749020,0.749020,0.749020,0
1,1,1,1,Pacific Northwest,Black cottonwood-Douglas-fir-quaking aspen forest,67,162,181,0.262745,0.635294,0.709804,1
2,2,2,2,Pacific Northwest,Western hemlock-western redcedar-Douglas-fir f...,0,82,0,0.000000,0.321569,0.000000,2
3,3,3,3,Pacific Northwest,Douglas-fir forest,0,51,0,0.000000,0.200000,0.000000,3
4,4,4,4,Pacific Northwest,Douglas-fir/ceanothus forest,0,51,0,0.000000,0.200000,0.000000,4
...,...,...,...,...,...,...,...,...,...,...,...,...
419,1261,1261,1261,All,Fallow field - growing season,255,198,107,1.000000,0.776471,0.419608,1261
420,1273,1273,1273,All,Tree fruit field - no inter-row groundcover,210,28,119,0.823529,0.109804,0.466667,1273
421,1274,1274,1274,All,Tree fruit field - with inter-row groundcover,210,28,119,0.823529,0.109804,0.466667,1274
422,1281,1281,1281,All,"Pasture, hay, or alfalfa field - grazed or har...",255,59,20,1.000000,0.231373,0.078431,1281
423,1283,1283,1283,All,"Pasture, hay, or alfalfa field - ungrazed or u...",255,59,20,1.000000,0.231373,0.078431,1283

In [17]:
lf_csv_nodata_df['FCCSID_base'] = lf_csv_nodata_df['FCCS']

In [18]:
lf_csv_nodata_df

,VALUE,FCCS,FCCSID,FCCS_REG,FUELBED,R,G,B,RED,GREEN,BLUE,FCCSID_base
0,-1111,-1111,Fill-Not Mapped,All,Fill-Not Mapped,111,111,111,0.435294,0.435294,0.435294,-1111
1,-9999,-9999,Fill-NoData,All,Fill-NoData,255,255,255,1.000000,1.000000,1.000000,-9999

In [19]:
subclass_by_FCCSID_base_df = lf_csv_extended_df.groupby(
    'FCCSID_base', as_index=False).agg(func={'FCCS_REG':['min', 'max'], 
                                             'FUELBED':['min', 'max']})

In [20]:
subclass_by_FCCSID_base_df.columns = ['FCCSID_base', 'FCCS_REG_min', 'FCCS_REG_max', 
                                      'FUELBED_min', 'FUELBED_max']

In [21]:
subclass_by_FCCSID_base_df.loc[subclass_by_FCCSID_base_df['FCCS_REG_min'] != subclass_by_FCCSID_base_df['FCCS_REG_max']]

Empty DataFrame
Columns: [FCCSID_base, FCCS_REG_min, FCCS_REG_max, FUELBED_min, FUELBED_max]
Index: []

In [22]:
subclass_by_FCCSID_base_df.loc[subclass_by_FCCSID_base_df['FUELBED_min'] != subclass_by_FCCSID_base_df['FUELBED_max']]

Empty DataFrame
Columns: [FCCSID_base, FCCS_REG_min, FCCS_REG_max, FUELBED_min, FUELBED_max]
Index: []

In [23]:
lf_csv_final_df = pd.concat([lf_csv_nodata_df, lf_csv_base_df, lf_csv_extended_df], ignore_index=True)

In [24]:
assert lf_csv_final_df.shape[0] == lf_csv_df.shape[0], 'lf_csv_final_df error'

In [25]:
lf_csv_final_df = lf_csv_final_df.loc[:, ['VALUE', 'FCCSID_base', 'FCCS', 'FCCSID', 'FCCS_REG', 'FUELBED']]

In [26]:
fccsid_reg_fuelbd_cnt_df = lf_csv_final_df.groupby(['FCCSID_base', 'FCCS_REG', 'FUELBED'], as_index=False).size()

In [27]:
fccsid_cnt_df = fccsid_reg_fuelbd_cnt_df.groupby(['FCCSID_base'], as_index=False).size()

In [28]:
fccsid_cnt_df.loc[fccsid_cnt_df['size']!=1]

     FCCSID_base  size
245          327     2
434         1245     2

In [29]:
fccsid_reg_fuelbd_cnt_df.loc[fccsid_reg_fuelbd_cnt_df['FCCSID_base']==327]

,FCCSID_base,FCCS_REG,FUELBED,size
245,327,Alaska,Marsh Labrador tea/cottongrass grassland,9
246,327,Alaska,Marsh Labrador tea/cottongrass grassland peatland,1

In [30]:
fccsid_reg_fuelbd_cnt_df.loc[fccsid_reg_fuelbd_cnt_df['FCCSID_base']==1245]

     FCCSID_base FCCS_REG                           FUELBED  size
435         1245      All  Sugarcane field - growing season     9
436         1245   Hawaii  Sugarcane field - growing season     1

In [31]:
lf_csv_final_df.loc[lf_csv_final_df['FCCSID_base']==327]

,VALUE,FCCSID_base,FCCS,FCCSID,FCCS_REG,FUELBED
245,327,327,327,327,Alaska,Marsh Labrador tea/cottongrass grassland peatland
9804,3270111,327,3270111,0327-111,Alaska,Marsh Labrador tea/cottongrass grassland
9805,3270112,327,3270112,0327-112,Alaska,Marsh Labrador tea/cottongrass grassland
9806,3270113,327,3270113,0327-113,Alaska,Marsh Labrador tea/cottongrass grassland
9807,3270121,327,3270121,0327-121,Alaska,Marsh Labrador tea/cottongrass grassland
9808,3270122,327,3270122,0327-122,Alaska,Marsh Labrador tea/cottongrass grassland
9809,3270123,327,3270123,0327-123,Alaska,Marsh Labrador tea/cottongrass grassland
9810,3270131,327,3270131,0327-131,Alaska,Marsh Labrador tea/cottongrass grassland
9811,3270132,327,3270132,0327-132,Alaska,Marsh Labrador tea/cottongrass grassland
9812,3270133,327,3270133,0327-133,Alaska,Marsh Labrador tea/cottongrass grassland

In [32]:
lf_csv_final_df.loc[lf_csv_final_df['FCCSID_base']==1245]

,VALUE,FCCSID_base,FCCS,FCCSID,FCCS_REG,FUELBED
419,1245,1245,1245,1245,Hawaii,Sugarcane field - growing season
15051,12450111,1245,12450111,1245-111,All,Sugarcane field - growing season
15052,12450112,1245,12450112,1245-112,All,Sugarcane field - growing season
15053,12450113,1245,12450113,1245-113,All,Sugarcane field - growing season
15054,12450121,1245,12450121,1245-121,All,Sugarcane field - growing season
15055,12450122,1245,12450122,1245-122,All,Sugarcane field - growing season
15056,12450123,1245,12450123,1245-123,All,Sugarcane field - growing season
15057,12450131,1245,12450131,1245-131,All,Sugarcane field - growing season
15058,12450132,1245,12450132,1245-132,All,Sugarcane field - growing season
15059,12450133,1245,12450133,1245-133,All,Sugarcane field - growing season

In [33]:
lf_csv_final_df.to_csv(os.path.join(results_dir, 'landfire', 'raster_value_fccsid_table.csv'), index=False)